<html lang="en">

{% include 'head.html' %}

<body>

{% include 'navbar.html' %}


<main class="container mb-3">
    <div class="row">
        <div class="col">
            <div class="alert alert-danger"  role="alert">
                Error: No BestRank ORCID found on <a href="{{ qid_url }}">{{ qid }}</a>.
            </div>
                <p>NOTE: This tool uses the <a href="https://qlever.cs.uni-freiburg.de/wikidata">
                        QLever Wikidata SPARQL endpoint</a> to detect if a DOI is missing in Wikidata.
                        The endpoint is currently updated once every week when the latest official
                        Wikidata dump is published. This is the query we used:</p>
            <code>{{ query }}</code>
        </div>
    </div>
</main>

{% include 'footer.html' %}

</body>
</html>